* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }

header {
    text-align: center;
    font-family: monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(91, 88, 88);
    background-color: rgba(242, 243, 233, 0.98);
    overflow: hidden;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
    padding: 40px;
}

p {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    padding: 15px;
}

nav {
    padding: 0px;
    background-color: rgb(91, 88, 88);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: rgb(91, 88, 88);
    text-align: center;
    padding: 20px;
    color: rgba(242, 243, 233, 0.98);
}

#about-me{
    padding-top: 20px;
    padding-bottom: 40px;
}

h2 {
    font-family: monospace, 'Courier New', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.box {
    margin: 20px;
    display: flex;
    /* object-fit: contain; */

}
.float-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

.words-right {
    float: right;
    display: contents;
}

#work {
    background-color: rgba(242, 243, 233, 0.98);
}

.first-project {
    padding: 20px 10px 20px 10px;
    margin: 20px 10px 20px 10px;
}

.meeting {
    display: block;
    object-fit: contain;
    width: 100%;
}

.block {
    display: inline-flex;
    text-align: center;
    position: relative;
    left: 100px;
   
}


.titles {
    position: relative;
    top: 235px;
    color: rgba(242, 243, 233, 0.98);
    font-family: monospace, sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.display-inline {
    /* padding: 10px; */
    margin: 40px;
}

#contact {
    padding-top: 3%;
    padding-bottom: 5%;

}

.contact-info {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info {
    text-decoration: none;
    font-size: 18px;
    font-family: monospace, sans-serif;
    color: chocolate;
    margin: 30px;

}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(91, 88, 88);
    color: rgba(242, 243, 233, 0.98);
    padding: 1%;
}



@media screen and (max-width: 1000px) {
    .block {
      flex: 50%;
      width: 40%;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 620px) {
    .block,
    .box {
      flex: 100%;
      width: 100%;
      flex-direction: column;
    }
  }






